<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <div id="left" class="column">
      <div class="top row">
        <div v-for="item in topContent" class="topdiv" :class="item.class" :style="{ 'background-color': item.bgColor, 'width': item.width }">
          <!-- <img :src="item.src" /> -->
          <!-- <div v-if="item.hasElement" style="flex-basis: 100%;background: greenyellow;">1</div> -->
          <div v-if="item.hasElement" style="flex-grow: 1;background: greenyellow;">1</div>
          <div v-if="item.hasElement" style="flex-grow: 1;background: rebeccapurple;">2</div>
          <div v-if="item.hasElement" style="flex-grow: 1;background: black;">3</div>
          <div v-if="item.hasElement" style="flex-grow: 1;background: red;">4</div>
          <div v-if="item.hasElement" style="flex-grow: 1;background: blue;">4</div>
        </div>
      </div>
      <div class="middle row">
        <div v-for="item in middleContent">a</div>
      </div>
      <div class="bottom row">
        <div class="mixer-track" v-for="item in mixerTracks">
          <div class="toolbox"></div>
          <div class="slider"></div>
          <div class="btn-on"></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="base.js"></script>
  </body>
</html>