<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <div id="left" class="column">
      <div class="top row">
        <div v-for="item in topContent" :style="{ 'background-color': item.bgColor, 'waidth': item.width }">
          <img :src="item.src" />
        </div>
      </div>
      <div class="middle row">
        <div v-for="item in middleContent">a</div>
      </div>
      <div class="bottom row">
        <div class="mixer-track" v-for="item in mixerTracks">
          <div class="toolbox"></div>
          <div class="slider"></div>
          <div class="btn-on"></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="base.js"></script>
  </body>
</html>